extends ../layouts/default

mixin product-card
  li.product-card&attributes(attributes)
    .product-card__wrapper.container
      +img(images.products.chickenBig)(
        width='140'
        height='112'
        alt='Изображение продукта'
      ).product-card__img
      .product-card__description
        h3.product-card__title
          | Cat Energy
          br
          | pro 1000 г
        dl.product-card__desc-list
          .product-card__desc-inner
            dt.product-card__desc-term Масса
            dd.product-card__desc-definition 1000 г
          .product-card__desc-inner
            dt.product-card__desc-term Вкус
            dd.product-card__desc-definition Курица
          .product-card__desc-inner
            dt.product-card__desc-term Цена
            dd.product-card__desc-definition 1000 Р.
      a.product-card__link.button(href='form.html') Заказать

block append variables
  - const meta = pages.catalog.meta
  - const {page} = pages.catalog

block page-styles
  link(href!=`css/${page}.css` rel='stylesheet')

block main
  div(data-barba="container" data-barba-namespace!=`${page}`).container
    h1= page
    ul
      +product-card
      +product-card
      +product-card
      +product-card

block page-script
  script(src!=`js/${page}.min.js`)
