extends ../layouts/layout

mixin product-card(img)
  acticle.product&attributes(attributes)
    .p_inner
      +img(img)(
        width='140'
        height='112'
        alt='Cat Energy pro 1000 г'
      ).p_img
      .p_info
        h3.p_title Cat Energy pro 1000 г
        dl.p_list
          dt.p_term Масса
          dd.p_def 1000 г
          dt.p_term Вкус
          dd.p_def Курица
          dt.p_term Цена
          dd.p_def 1000 Р.
      +button('Заказать', 'link')(href='form.html').p_btn

block append variables
  - const meta = pages.catalog.meta
  - const {page} = pages.catalog

block page-styles
  link(href!=`css/${page}.css` rel='stylesheet')

block main
  div(data-barba="container" data-barba-namespace!=`${page}`).container
    h1.ce_title Каталог продукции
    ul.product_list.list_style_reset
      li.pl_item
        +product-card(images.products.chickenSmall)
      li.pl_item
        +product-card(images.products.chickenBig)
      li.pl_item
        +product-card(images.products.fishSmall)
      li.pl_item
        +product-card(images.products.fishBig)
      li.pl_item
        +product-card(images.products.buckwheatSmall)
      li.pl_item
        +product-card(images.products.buckwheatBig)
      li.pl_item
        +product-card(images.products.riceSmall)

block page-script
  script(src!=`js/${page}.min.js`)
