mixin slider
  ul.slider&attributes(attributes)
    li.slider__slide.slider__slide--current
      +img('before', ['png', 'png', 'png'])(
        alt='Результат до'
        width='320'
        height='240'
      )
    li.slider__slide
      +img('after', ['png', 'png', 'png'])(
        alt='Результат до'
        width='320'
        height='240'
      )
  .slider__toggels
    button.slider__toggle.slider__toggle--current(type='button') Было
    +scale.slider__scale
    button.slider__toggle(type='button') Стало
